NET "led_l_sin[1]"  LOC = P2;   # m101
NET "led_l_sin[2]"  LOC = P3;
NET "led_l_sin[3]"  LOC = P4;
NET "led_l_sin[4]"  LOC = P14;
NET "led_l_sin[5]"  LOC = P15;
NET "led_l_sin[6]"  LOC = P16;
NET "led_r_sin[1]"  LOC = P5;
NET "led_r_sin[2]"  LOC = P7;
NET "led_r_sin[3]"  LOC = P8;
NET "led_r_sin[4]"  LOC = P17;
NET "led_r_sin[5]"  LOC = P20;
NET "led_r_sin[6]"  LOC = P21;
NET "led_mode"      LOC = P33;  # m104
NET "led_xlat"      LOC = P32;  # m103
NET "led_blank"     LOC = P34;  # m105
NET "led_sclk"      LOC = P139; # m106
NET "led_gsclk"     LOC = P140; # m107
NET "led_xerr"      LOC = P10;
NET "led_cal_sin"   LOC = P22;

NET "clock"         LOC = P56;  # 40mhz xtal on board
NET "clock" IOSTANDARD = LVCMOS25;
NET "clock" TNM_NET = "clock";
TIMESPEC "TS_clock" = PERIOD "clock" 40Mhz;

NET "status_orange" LOC = P71 | SLEW = FAST;
NET "status_yellow" LOC = P60;
NET "status_red"    LOC = P62;

SYSTEM_JITTER = 300 ps;

NET "cpld_p8"       LOC = P123;